In [8]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
URL = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508694016501'
r = requests.get(URL)

In [31]:
uni_dict = r.json()

create the data frame

In [117]:
columns = ['Name','Location','Rank','Score']
uni_rank = pd.DataFrame(index = [], columns=columns)
uni_rank

Empty DataFrame
Columns: [Name, Location, Rank, Score]
Index: []

In [118]:
uni_list = uni_dict['data']

for uni in uni_list[:200]:
    uni_df = pd.DataFrame([[uni['title'], uni['country'], uni['rank_display'].replace('=',' '), uni['score']]], columns = columns)
    uni_rank = uni_rank.append(uni_df)

uni_rank.index = list(range(1,201))

In [119]:
uni_rank

,Name,Location,Rank,Score
1,Massachusetts Institute of Technology (MIT),United States,1,100
2,Stanford University,United States,2,98.7
3,Harvard University,United States,3,98.4
4,California Institute of Technology (Caltech),United States,4,97.7
5,University of Cambridge,United Kingdom,5,95.6
6,University of Oxford,United Kingdom,6,95.3
7,UCL (University College London),United Kingdom,7,94.6
8,Imperial College London,United Kingdom,8,93.7
9,University of Chicago,United States,9,93.5
10,ETH Zurich - Swiss Federal Institute of Techno...,Switzerland,10,93.3
11,"Nanyang Technological University, Singapore (NTU)",Singapore,11,92.2
12,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,12,91.2
13,Princeton University,United States,13,91
14,Cornell University,United States,14,90.7
15,National University of Singapore (NUS),Singapore,15,90.5
16,Yale University,United States,16,90.4
17,Johns Hopkins University,United States,17,89.8
18,Columbia University,United States,18,88.9
19,University of Pennsylvania,United States,19,88.7
20,The Australian National University,Australia,20,87.1
21,University of Michigan,United States,21,87
22,Duke University,United States,21,87
23,The University of Edinburgh,United Kingdom,23,86.9
24,King's College London,United Kingdom,23,86.9
25,Tsinghua University,China,25,85.6
26,The University of Hong Kong,Hong Kong,26,85.5
27,"University of California, Berkeley (UCB)",United States,27,84.9
28,The University of Tokyo,Japan,28,84.8
29,Northwestern University,United States,28,84.8
30,The Hong Kong University of Science and Techno...,Hong Kong,30,84.3
...,...,...,...,...
171,Albert-Ludwigs-Universitaet Freiburg,Germany,171,50.8
172,Indian Institute of Technology Delhi (IITD),India,172,50.7
173,King Fahd University of Petroleum & Minerals,Saudi Arabia,173,50.3
174,University of Liverpool,United Kingdom,173,50.3
175,University of Virginia,United States,173,50.3
176,University of Technology Sydney,Australia,176,50.1
177,CentraleSupélec,France,177,50
178,University of Florida,United States,178,49.8
179,Indian Institute of Technology Bombay (IITB),India,179,49.7
180,University of Twente,Netherlands,179,49.7
181,University of Göttingen,Germany,181,49.6
182,Vrije Universiteit Brussel (VUB),Belgium,182,49.5
183,Universidade Estadual de Campinas (Unicamp),Brazil,182,49.5
184,University of Colorado Boulder,United States,182,49.5
185,Vienna University of Technology,Austria,182,49.5
186,University of Rochester,United States,186,49.3
187,Universidad Autónoma de Madrid,Spain,187,49.2
188,Alma Mater Studiorum - University of Bologna,Italy,188,49.1
189,University of Reading,United Kingdom,188,49.1
190,Indian Institute of Science (IISc) Bangalore,India,190,49
191,University of Cape Town,South Africa,191,48.9
192,Scuola Normale Superiore di Pisa,Italy,192,48.5
193,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Italy,192,48.5
194,Keio University CEMS MIM,Japan,192,48.5
195,Stockholm University,Sweden,195,48.1
196,Universitat Autònoma de Barcelona,Spain,195,48.1
197,Texas A&M University,United States,195,48.1
198,Instituto Tecnológico y de Estudios Superiores...,Mexico,199,48
199,Maastricht University,Netherlands,200,47.9
200,Universidad de Chile,Chile,201,47.8

J'essai avec un autre dossier qui a l'air de contenir le tableau avec les valeurs qui nous interesse sous l'onglet "Rankings Indicators" de la page "https://www.topuniversities.com/university-rankings/world-university-rankings/2018"

In [206]:
URL = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt'
r = requests.get(URL)

In [207]:
uni_table = r.json()

In [208]:
columns_table = uni_table['columns']
data_table = uni_table['data']

In [209]:
features = []
features_title = []

for column in columns_table:
    soup = BeautifulSoup(column['title'], 'html.parser')
    features.append(soup.text)
    features_title.append(column['data'])
    
print(features)
print(features_title)

['REGION', 'LOCATION', '# RANK', '# RANK', 'UNIVERSITY', 'OVERALL SCORE', 'STARS', 'Academic Reputation', 'SCORE', 'Citations per Faculty', 'SCORE', 'Employer Reputation', 'SCORE', 'Faculty Student', 'SCORE', 'International Faculty', 'SCORE', 'International Students', 'SCORE']
['region', 'location', 'overall_rank', 'overall_rank_dis', 'uni', 'overall', 'stars', '2971069', '2971069_rank_d', '2971070', '2971070_rank_d', '2971071', '2971071_rank_d', '2971072', '2971072_rank_d', '2971073', '2971073_rank_d', '2971074', '2971074_rank_d']

Create data frame for universities

In [314]:
uni_rank_2 = pd.DataFrame(columns=features_title)

interesting_features = ['region', 'location', 'uni', 'rank', '2971070_rank_d', '2971074_rank_d']

for data in data_table[:200] :
    
    features_values = pd.DataFrame(columns= features_title)
    
    for feature in data :
        
        if data[feature]:
            soup = BeautifulSoup(data[feature], 'html.parser')
        else : soup = BeautifulSoup('Nan', 'html.parser')
        
        features_values.loc['0',feature] = soup.text
    
    uni_rank_2 = uni_rank_2.append(features_values)
    
uni_rank_2.columns = features
uni_rank_2.index = list(range(0,200))
uni_rank_2

,REGION,LOCATION,# RANK,# RANK,UNIVERSITY,OVERALL SCORE,STARS,Academic Reputation,SCORE,Citations per Faculty,SCORE,Employer Reputation,SCORE,Faculty Student,SCORE,International Faculty,SCORE,International Students,SCORE
0,North America,United States,1,1,Massachusetts Institute of Technology (MIT),100,6,100,6,99.9,8,100,4,100,14,100,36,96.1,70
1,North America,United States,2,2,Stanford University,98.7,5,100,5,99.4,12,100,5,100,12,99.6,54,72.7,177
2,North America,United States,3,3,Harvard University,98.4,5,100,1,99.9,9,100,3,98.3,38,96.5,103,75.2,165
3,North America,United States,4,4,California Institute of Technology (Caltech),97.7,5,99.5,22,100,4,85.4,77,100,3,93.4,126,89.2,106
4,Europe,United Kingdom,5,5,University of Cambridge,95.6,5,100,2,78.3,75,100,1,100,10,97.4,87,97.7,57
5,Europe,United Kingdom,6,6,University of Oxford,95.3,5,100,4,76.3,81,100,2,100,6,98.6,68,98.5,50
6,Europe,United Kingdom,7,7,UCL (University College London),94.6,Nan,99.7,16,74.7,88,99.5,18,99.1,35,96.6,102,100,20
7,Europe,United Kingdom,8,8,Imperial College London,93.7,Nan,99.4,23,68.7,117,100,8,100,18,100,42,100,12
8,North America,United States,9,9,University of Chicago,93.5,5,99.9,13,85.9,48,92.9,55,96.5,52,71.9,218,79.8,149
9,Europe,Switzerland,10,10,ETH Zurich - Swiss Federal Institute of Techno...,93.3,Nan,99.6,21,98.7,17,99.4,23,68.2,178,100,14,98.8,47
10,Asia,Singapore,11,11,"Nanyang Technological University, Singapore (NTU)",92.2,6,93.9,50,83.3,57,96.6,38,93.6,60,100,19,88.2,108
11,Europe,Switzerland,12,12,Ecole Polytechnique Fédérale de Lausanne (EPFL),91.2,Nan,83,73,99.2,14,95.5,42,92,71,100,13,100,11
12,North America,United States,13,13,Princeton University,91,5,100,9,100,5,97.3,33,70.9,163,67.4,229,70.8,188
13,North America,United States,14,14,Cornell University,90.7,5,99.6,20,96.2,25,93.7,51,67.4,181,92.2,132,79.2,155
14,Asia,Singapore,15,15,National University of Singapore (NUS),90.5,Nan,100,11,66.2,128,99.9,11,88.8,81,100,27,86.1,121
15,North America,United States,16,16,Yale University,90.4,5,100,10,63.2,141,99.8,13,100,4,90.7,141,61.7,231
16,North America,United States,17,17,Johns Hopkins University,89.8,Nan,94.3,45,83.9,52,66.4,142,100,11,87.9,157,81.3,142
17,North America,United States,18,18,Columbia University,88.9,5,99.9,12,62.3,148,98.1,29,100,17,34.7,374,94.9,80
18,North America,United States,19,19,University of Pennsylvania,88.7,5,97.4,34,67.4,124,94.9,48,100,15,67.1,233,64.5,213
19,Oceania,Australia,20,20,The Australian National University,87.1,Nan,99.3,24,85.6,49,90.4,60,55.3,250,100,33,98.8,45
20,North America,United States,21,=21,Duke University,87,5,94,47,91.4,38,78.1,99,98.1,42,NaN,NaN,56.6,253
21,North America,United States,21,=21,University of Michigan,87,5,99.7,19,66.7,126,92.2,58,89.6,78,78,204,51.2,279
22,Europe,United Kingdom,23,=23,King's College London,86.9,Nan,92.8,53,64.8,132,92.4,57,87.6,84,97.4,88,99.2,34
23,Europe,United Kingdom,23,=23,The University of Edinburgh,86.9,Nan,99.1,28,55.5,189,96.6,37,83.2,108,94.9,116,98.6,48
24,Asia,China,25,25,Tsinghua University,85.6,Nan,99.2,26,75.3,87,99.6,16,86.7,86,42.1,344,25.6,464
25,Asia,Hong Kong,26,26,The University of Hong Kong,85.5,Nan,99.1,27,46.3,271,93.4,52,85.3,95,100,18,99.4,32
26,North America,United States,27,27,"University of California, Berkeley (UCB)",84.9,Nan,100,3,99.3,13,99.9,9,36.2,358,97.7,85,54.6,267
27,North America,United States,28,=28,Northwestern University,84.8,Nan,91.3,58,75.4,86,76.6,107,98.6,37,57.9,271,55,265
28,Asia,Japan,28,=28,The University of Tokyo,84.8,Nan,100,7,73.3,97,99.8,14,92.6,68,NaN,NaN,NaN,NaN
29,Asia,Hong Kong,30,30,The Hong Kong University of Science and Techno...,84.3,Nan,93,52,87.7,47,87.2,71,54.9,256,100,17,93,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Europe,Germany,171,171,Albert-Ludwigs-Universitaet Freiburg,50.8,Nan,61.6,152,53.8,201,37.8,343,31.2,417,56.2,279,48.4,299
171,Asia,India,172,172,Indian Institute of Technology Delhi (IITD),50.7,Nan,54.9,172,91.2,39,71.1,125,NaN,NaN,NaN,NaN,NaN,NaN
172,Asia,Saudi Arabia,173,=173,King Fahd University of Petroleum & Minerals,50.3,5,35.7,299,27.6,429,40.5,316,94.9,56,100,24,46.6,311
173,Europe,United Kingdom,173,=173,University of Liverpool,50.3,5,45.4,222,38.7,330,47.5,259,53,264,82.3,185,96.5,67
174,North America,United States,173,=173,University of Virginia,50.3,Nan,47.7,207,53.3,203,49.2,239,60.6,217,50.7,307,NaN,NaN
175,Oceania,Australia,176,176,University of Technology Sydney,50.1,5,50.7,191,45.8,275,87,73,NaN,NaN,97.2,96,94.5,81
176,Europe,France,177,177,CentraleSupélec,50,Nan,NaN,NaN,31.8,398,100,6,79.4,123,64.4,243,90.2,97
177,North America,United States,178,178,University of Florida,49.8,Nan,58.6,157,39.2,327,37.5,346,63.1,201,18.2,499,21.7,497
178,Asia,India,179,=179,Indian Institute of Technology Bombay (IITB),49.7,Nan,62.3,149,50.8,226,77.9,102,32.1,403,NaN,NaN,NaN,NaN
179,Europe,Netherlands,179,=179,University of Twente,49.7,5,28.9,379,92.2,35,NaN,NaN,42.7,316,88,156,76.8,161
180,Europe,Germany,181,181,University of Göttingen,49.6,Nan,62.2,150,23.9,474,NaN,NaN,64.7,195,43.8,334,29.6,429
181,Europe,Austria,182,=182,Vienna University of Technology,49.5,Nan,39.8,258,83.7,53,75.6,111,NaN,NaN,67.2,231,91.2,93
182,Latin America,Brazil,182,=182,Universidade Estadual de Campinas (Unicamp),49.5,Nan,76.9,89,30,414,73.4,120,NaN,NaN,NaN,NaN,NaN,NaN
183,North America,United States,182,=182,University of Colorado Boulder,49.5,Nan,47,211,52,214,43.7,286,65.6,190,36.7,359,NaN,NaN
184,Europe,Belgium,182,=182,Vrije Universiteit Brussel (VUB),49.5,Nan,34.5,311,23.8,478,41.3,312,98.2,40,79.4,196,61.9,230
185,North America,United States,186,186,University of Rochester,49.3,Nan,32.1,334,42.6,297,NaN,NaN,100,16,47.3,317,90,100
186,Europe,Spain,187,187,Universidad Autónoma de Madrid,49.2,Nan,65.7,133,24.7,465,74.1,117,43.4,312,NaN,NaN,24.3,474
187,Europe,Italy,188,=188,Alma Mater Studiorum - University of Bologna,49.1,Nan,81.5,77,36.9,347,62.9,157,NaN,NaN,NaN,NaN,NaN,NaN
188,Europe,United Kingdom,188,=188,University of Reading,49.1,Nan,39.4,262,51.6,220,55.8,195,41.3,324,88.1,154,92.5,90
189,Asia,India,190,190,Indian Institute of Science (IISc) Bangalore,49,Nan,38.3,272,100,6,NaN,NaN,56.1,244,NaN,NaN,NaN,NaN
190,Africa,South Africa,191,191,University of Cape Town,48.9,Nan,60.2,155,35.9,356,55.1,197,32.9,395,59.2,268,49.2,296
191,Asia,Japan,192,=192,Keio University CEMS MIM,48.5,Nan,63,143,NaN,NaN,80.2,93,60.7,215,NaN,NaN,NaN,NaN
192,Europe,Italy,192,=192,Scuola Normale Superiore di Pisa,48.5,Nan,NaN,NaN,98.3,18,NaN,NaN,91.2,73,NaN,NaN,NaN,NaN
193,Europe,Italy,192,=192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,48.5,Nan,NaN,NaN,96,27,NaN,NaN,86.3,90,NaN,NaN,49.8,291
194,Europe,Sweden,195,=195,Stockholm University,48.1,Nan,65.8,132,49.2,243,NaN,NaN,NaN,NaN,64.3,244,NaN,NaN
195,Europe,Germany,281,=281,Technische Universität Dresden,38.8,Nan,41.5,249,32.5,387,77,105,NaN,NaN,47.3,319,38.5,366
196,North America,United States,195,=195,Texas A&M University,48.1,Nan,69.7,117,57,175,54.1,206,NaN,NaN,NaN,NaN,NaN,NaN
197,Europe,Spain,195,=195,Universitat Autònoma de Barcelona,48.1,Nan,72.1,107,43.7,289,41.5,310,NaN,NaN,21.5,467,28.6,438
198,Latin America,Mexico,199,199,Instituto Tecnológico y de Estudios Superiores...,48,5,42.8,233,NaN,NaN,84.9,81,77.1,135,98.4,71,23.2,486
199,Europe,Netherlands,200,200,Maastricht University,47.9,Nan,30.8,356,73.3,95,39,329,35.4,370,95.9,107,100,16

Compare ranking of the two lists from the same web site. We obtain the indices for which the ranking is not equal

In [328]:
a = list(uni_rank['Name']) 
b = list(uni_rank_2['UNIVERSITY'])

[x for x in range(0,len(a))  if a[x] != b[x]]

[0, 20, 21, 22, 23, 27, 28, 46, 47, 70, 71, 75, 76, 83, 84, 92, 93, 97, 98, 101, 102, 108, 109, 110, 113, 114, 121, 122, 129, 136, 137, 138, 141, 142, 146, 147, 148, 149, 160, 161, 163, 164, 165, 181, 184, 191, 192, 193, 195, 197, 198, 199]