In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [2]:
qs_uni_rank = pd.DataFrame.from_csv('QS_dataframe.csv')

In [ ]:
qs_url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508694016501'
qs_r = requests.get(qs_url)

In [ ]:
qs_uni_dict = qs_r.json()

create the data frame

In [ ]:
qs_columns = ['Name','Region','Location','QS Rank','QS Score','No staffs', 'No internat staffs', 'No students', 'No internat students']
qs_uni_rank = pd.DataFrame(index = [], columns=qs_columns)
qs_uni_rank.head()

In [ ]:
def get_numbers_stud_staff(url):
    r_uni = requests.get("https://www.topuniversities.com" + url)
    
    html_request_uni = BeautifulSoup(r_uni.text, 'html.parser')
    
    header_staff = html_request_uni.find('div',class_='faculty-main wrapper col-md-4')
    header_stud_total = html_request_uni.find('div',class_='students-main wrapper col-md-4')
    header_stud_inter = html_request_uni.find('div',class_='int-students-main wrapper col-md-4')
    
    if ((header_staff == None) & (header_stud_total == None) & (header_stud_inter == None)):
        return (-1,-1,-1,-1)
        

    subdiv_staff_total = header_staff.find('div', class_='total faculty')
    subdiv_staff_inter = header_staff.find('div', class_= 'inter faculty')
    subdiv_stud_total = header_stud_total.find('div', class_='total student')
    subdiv_stud_inter = header_stud_inter.find('div', class_='total inter')
    
    num_staff_total = int(subdiv_staff_total.find('div', class_ = 'number').text[1:-1].replace(',',''))
    if (subdiv_staff_inter != None):
        num_staff_inter = int(subdiv_staff_inter.find('div', class_ = 'number').text[1:-1].replace(',',''))
    else:
        num_staff_inter = -1    
    num_stud_total = int(subdiv_stud_total.find('div', class_ = 'number').text[1:-1].replace(',',''))
    num_stud_inter = int(subdiv_stud_inter.find('div', class_ = 'number').text[1:-1].replace(',',''))
    
    return (num_staff_total, num_staff_inter, num_stud_total, num_stud_inter)

In [ ]:
uni_list = qs_uni_dict['data']
i = 0
for uni in uni_list[:200]:
    i+=1
    if (i%40 == 0):
        print(i)
    (tot_staff, inter_staff, tot_stud, inter_stud) = get_numbers_stud_staff(uni['url'])
    uni_df = pd.DataFrame([[uni['title'],uni['region'], uni['country'], uni['rank_display'].replace('=',' '),
                            uni['score'], tot_staff, inter_staff, tot_stud, inter_stud]], columns = qs_columns)
    qs_uni_rank = qs_uni_rank.append(uni_df)

qs_uni_rank.index = list(range(1,201))

In [3]:
qs_uni_rank.to_csv('QS_dataframe.csv')
qs_uni_rank

,Name,Region,Location,QS Rank,QS Score,No staffs,No internat staffs,No students,No internat students
1,Massachusetts Institute of Technology (MIT),North America,United States,1,100.0,2982,1679,11067,3717
2,Stanford University,North America,United States,2,98.7,4285,2042,15878,3611
3,Harvard University,North America,United States,3,98.4,4350,1311,22429,5266
4,California Institute of Technology (Caltech),North America,United States,4,97.7,953,350,2255,647
5,University of Cambridge,Europe,United Kingdom,5,95.6,5490,2278,18770,6699
6,University of Oxford,Europe,United Kingdom,6,95.3,6750,2964,19720,7353
7,UCL (University College London),Europe,United Kingdom,7,94.6,6345,2554,31080,14854
8,Imperial College London,Europe,United Kingdom,8,93.7,3930,2071,16090,8746
9,University of Chicago,North America,United States,9,93.5,2449,635,13557,3379
10,ETH Zurich - Swiss Federal Institute of Techno...,Europe,Switzerland,10,93.3,2477,1886,19815,7563
11,"Nanyang Technological University, Singapore (NTU)",Asia,Singapore,11,92.2,4338,2993,25738,7251
12,Ecole Polytechnique Fédérale de Lausanne (EPFL),Europe,Switzerland,12,91.2,1695,1300,10343,5896
13,Princeton University,North America,United States,13,91.0,1007,246,8069,1793
14,Cornell University,North America,United States,14,90.7,2718,970,21904,5411
15,National University of Singapore (NUS),Asia,Singapore,15,90.5,5106,3086,32728,8917
16,Yale University,North America,United States,16,90.4,4940,1708,12402,2469
17,Johns Hopkins University,North America,United States,17,89.8,4462,1061,16146,4105
18,Columbia University,North America,United States,18,88.9,6189,913,25045,8105
19,University of Pennsylvania,North America,United States,19,88.7,5499,1383,20639,4250
20,The Australian National University,Oceania,Australia,20,87.1,1600,927,14442,5551
21,University of Michigan,North America,United States,21,87.0,6809,1920,43147,7527
22,Duke University,North America,United States,21,87.0,2938,226,15320,2864
23,The University of Edinburgh,Europe,United Kingdom,23,86.9,4075,1553,28040,10551
24,King's College London,Europe,United Kingdom,23,86.9,3650,1513,23780,9451
25,Tsinghua University,Asia,China,25,85.6,5506,932,36300,4072
26,The University of Hong Kong,Asia,Hong Kong,26,85.5,3012,2085,20214,8230
27,"University of California, Berkeley (UCB)",North America,United States,27,84.9,3321,1395,36703,6086
28,The University of Tokyo,Asia,Japan,28,84.8,4514,254,27279,2639
29,Northwestern University,North America,United States,28,84.8,4231,1141,18675,3422
30,The Hong Kong University of Science and Techno...,Asia,Hong Kong,30,84.3,1150,835,10375,2921
...,...,...,...,...,...,...,...,...,...
171,Albert-Ludwigs-Universitaet Freiburg,Europe,Germany,171,50.8,1966,413,23214,3897
172,Indian Institute of Technology Delhi (IITD),Asia,India,172,50.7,466,4,7477,80
173,King Fahd University of Petroleum & Minerals,Asia,Saudi Arabia,173,50.3,1062,665,6040,989
174,University of Liverpool,Europe,United Kingdom,173,50.3,2390,717,22065,7502
175,University of Virginia,North America,United States,173,50.3,2509,487,21560,1899
176,University of Technology Sydney,Oceania,Australia,176,50.1,1328,546,24207,7769
177,CentraleSupélec,Europe,France,177,50.0,529,137,3877,1132
178,University of Florida,North America,United States,178,49.8,5419,504,45485,4597
179,Indian Institute of Technology Bombay (IITB),Asia,India,179,49.7,876,19,9402,93
180,University of Twente,Europe,Netherlands,179,49.7,910,299,9332,2235
181,University of Göttingen,Europe,Germany,181,49.6,3678,641,30402,3736
182,Vrije Universiteit Brussel (VUB),Europe,Belgium,182,49.5,1792,515,9284,1853
183,Universidade Estadual de Campinas (Unicamp),Latin America,Brazil,182,49.5,1968,109,26572,966
184,University of Colorado Boulder,North America,United States,182,49.5,3685,566,30219,2679
185,Vienna University of Technology,Europe,Austria,182,49.5,706,172,17479,5199
186,University of Rochester,North America,United States,186,49.3,2569,488,9636,2805
187,Universidad Autónoma de Madrid,Europe,Spain,187,49.2,2738,181,26511,2976
188,Alma Mater Studiorum - University of Bologna,Europe,Italy,188,49.1,2990,153,63399,4195
189,University of Reading,Europe,United Kingdom,188,49.1,1280,422,13330,4077
190,Indian Institute of Science (IISc) Bangalore,Asia,India,190,49.0,423,-1,4071,47
191,University of Cape Town,Africa,South Africa,191,48.9,1733,379,19593,3325
192,Scuola Normale Superiore di Pisa,Europe,Italy,192,48.5,86,1,532,48
193,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Europe,Italy,192,48.5,119,1,789,135
194,Keio University CEMS MIM,Asia,Japan,192,48.5,3905,261,33500,2178
195,Stockholm University,Europe,Sweden,195,48.1,2154,646,28281,2636
196,Universitat Autònoma de Barcelona,Europe,Spain,195,48.1,2187,230,31986,3848
197,Texas A&M University,North America,United States,195,48.1,3446,206,60294,4900
198,Instituto Tecnológico y de Estudios Superiores...,Latin America,Mexico,199,48.0,1822,821,13376,1412
199,Maastricht University,Europe,Netherlands,200,47.9,1277,502,16385,8234
200,Universidad de Chile,Latin America,Chile,201,47.8,2256,127,38848,2134

# Second Website: THE ranking

Note that as the number students, the number of staffs and the number of international students are already mentionned in the QS ranking website they are not scrapped from the Times University Ranking website. We indeed assume that the information provided by the QS ranking website are reliable.

In [4]:
the_r = requests.get("https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json")

the_uni_dict = the_r.json()['data'][:200]

the_columns = ['Name','Location','THE Rank','THE Score']
#the_columns = ['Name','Location','THE Rank','Score', 'No students', 'International students ratio','No students per staff']
the_uni_rank = pd.DataFrame(index = [], columns=the_columns)
the_uni_rank.head()

Empty DataFrame
Columns: [Name, Location, THE Rank, THE Score]
Index: []

In [5]:
for uni in the_uni_dict:
    uni_df = pd.DataFrame([[uni['name'],uni['location'], uni['rank'].replace('=',' '),uni['scores_overall']]],columns = the_columns)
    the_uni_rank = the_uni_rank.append(uni_df)
    
the_uni_rank.index = list(range(1,201))

In [8]:
print(qs_uni_rank.columns)
print(the_uni_rank.columns)

Index(['Name', 'Region', 'Location', 'QS Rank', 'QS Score', 'No staffs',
       'No internat staffs', 'No students', 'No internat students'],
      dtype='object')
Index(['Name', 'Location', 'THE Rank', 'THE Score'], dtype='object')

###### Printing the two DataFrames

In [9]:
qs_uni_rank.head()

,Name,Region,Location,QS Rank,QS Score,No staffs,No internat staffs,No students,No internat students
1,Massachusetts Institute of Technology (MIT),North America,United States,1,100.0,2982,1679,11067,3717
2,Stanford University,North America,United States,2,98.7,4285,2042,15878,3611
3,Harvard University,North America,United States,3,98.4,4350,1311,22429,5266
4,California Institute of Technology (Caltech),North America,United States,4,97.7,953,350,2255,647
5,University of Cambridge,Europe,United Kingdom,5,95.6,5490,2278,18770,6699

In [10]:
the_uni_rank.head()

                                    Name        Location THE Rank THE Score
1                   University of Oxford  United Kingdom        1      94.3
2                University of Cambridge  United Kingdom        2      93.2
3     California Institute of Technology   United States        3      93.0
4                    Stanford University   United States        3      93.0
5  Massachusetts Institute of Technology   United States        5      92.5

# Merging the two DataFrames

In [11]:
# Removing brackets and choosing the option that is less likely to be an acronym
for ind_qs, qs_uni_name in enumerate(qs_uni_rank['Name']):
    if ('(' in qs_uni_name):
        first_brack = qs_uni_name.index('(')
        brack_content = qs_uni_name[first_brack+1:-1]
        if (' ' in brack_content):
            qs_uni_rank['Name'].iloc[ind_qs] = brack_content
        else:
            qs_uni_rank['Name'].iloc[ind_qs] = qs_uni_name[:first_brack-1]

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

There is only one difference in the location definition between both DataFrames that is fixed now. Indeed it is necessary to do so for the merging operation to not fail.

In [12]:
print("Before changing:")
print(qs_uni_rank[qs_uni_rank['Name'] == 'Lomonosov Moscow State University']['Location'])
print(the_uni_rank[the_uni_rank['Name'] == 'Lomonosov Moscow State University']['Location'])
the_uni_rank.loc[194, 'Location'] = 'Russia'
print()
print("After changing:")
print(the_uni_rank[the_uni_rank['Name'] == 'Lomonosov Moscow State University']['Location'])

Before changing:
95    Russia
Name: Location, dtype: object
194    Russian Federation
Name: Location, dtype: object

After changing:
194    Russia
Name: Location, dtype: object

In [13]:
merged_uni_rank = pd.merge(qs_uni_rank, the_uni_rank, how = "outer")
merged_uni_rank = merged_uni_rank.set_index('Name')
merged_uni_rank.index.is_unique

True

In [14]:
merged_uni_rank.head()

,Region,Location,QS Rank,QS Score,No staffs,No internat staffs,No students,No internat students,THE Rank,THE Score
Name,,,,,,,,,,
Massachusetts Institute of Technology,North America,United States,1.0,100.0,2982.0,1679.0,11067.0,3717.0,5,92.5
Stanford University,North America,United States,2.0,98.7,4285.0,2042.0,15878.0,3611.0,3,93.0
Harvard University,North America,United States,3.0,98.4,4350.0,1311.0,22429.0,5266.0,6,91.8
California Institute of Technology,North America,United States,4.0,97.7,953.0,350.0,2255.0,647.0,3,93.0
University of Cambridge,Europe,United Kingdom,5.0,95.6,5490.0,2278.0,18770.0,6699.0,2,93.2